# Python
*.pyc
*.pyo
__pycache__/
.python-version

# Virtual environments
.venv/
venv/
ENV/
env/

# Django
*.sqlite3
db.sqlite3

staticfiles/

# Environment files
.env
.env.*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Packages
.Python
build/
dist/
*.egg-info/

media/